/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    background: #ffffff;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.navBar {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 80px;
            height: 48.7px;
        }

        .navList li a {
            &:hover {
                color: #ffffff;
                border-bottom: 3px solid #ffffff;
            }
        }
    }
}

.group {
    .container {

        .groupList {
            width: 100% !important;
            display: flex !important;
            flex-direction: row !important;


            .active {
                border-bottom: 12px solid #AA0601 !important;
            }

            .groupItem {
                padding-top: 24px;
                padding-bottom: 24px;
                /* padding: 24px 150px; */

                &:hover {
                    color: #ffffff !important;
                    background: #AA0601;
                }
            }
        }
    }
}

.header {
    .banner {
        img {
            height: 296px;
        }
    }
}

.product {
    display: none;
}

.product.active {
    display: block;
}

.card {
    .card-body .colorItem a {
        border: 10px solid black;
        border-radius: 4px;
    }
}

.pagination {
    .page-item .page-link {
        color: #000;
    }

    .active a {
        color: #ffffff !important;
        background: #000 !important;
    }
}

.footer {
    .footer-nav {

        .navList li a {
            color: #ffffff;

            &:hover {
                border-bottom: 3px solid #ffffff;
            }
        }

        .social .social-link a img {
            width: 48px;
            height: 48px;
        }
    }

    .footer-bottom {
        border-top: 1px solid #ffffff;

        .navBottom {
            gap: 48px;

            a {
                &:hover {
                    border-bottom: 3px solid #ffffff;
                }
            }
        }
    }

}

.bg-Red {
    background: #AA0601;
}

.bg-darkRed {
    background: #670300;
}

.text-darkRed {
    color: #670300;
}

.text-lightRed {
    color: #FBF2F2;
}

.text-white {
    color: white;
}

.wh-24 {
    width: 24px;
    height: 24px;
}

.bold900 {
    font-weight: 900;
}

.ptb25 {
    padding: 25px 0;
}

.pt32 {
    padding-top: 32px;
}

.pb32 {
    padding-bottom: 32px;
}

.mb36 {
    margin-bottom: 36px;
}

.pt60 {
    padding-top: 60px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb32 {
    margin-bottom: 32px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb40 {
    margin-bottom: 40px;
}

.fz16 {
    font-size: 16px;
}

.fz18 {
    font-size: 18px;
}

.fz20 {
    font-size: 20px;
}

.fz24 {
    font-size: 24px;
}

.fz32 {
    font-size: 32px;
}

.fz36 {
    font-size: 36px;
}

.fz42 {
    font-size: 42px;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

.gap48 {
    gap: 48px;
}

.gap64 {
    gap: 64px;
}

@media(max-width:992px) {

    .navBar,
    .footer {
        .container {
            padding-top: 24px;
            padding-left: 36px;
            padding-right: 36px;
        }
    }

}

@media(max-width:767px) {

    .group {
        .container {
            .groupList {

                .groupItem {
                    font-size: 16px;
                }
            }
        }
    }

    .product .container {
        h1 {
            font-size: 24px;
        }

        h3 {
            font-size: 24px;
        }
    }

    .footer {
        .footer-nav {
            .social .social-link a img {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media(max-width: 700px) {
    .navBar {
        .container {
            .navList {
                gap: 32px;
            }
        }
    }

    .footer {
        .container {
            .footer-nav {
                .navList {
                    display: none !important;
                }

                float: right;
                clear: both;
            }
        }
    }
}

@media(max-width:576px) {
    .navBar {
        .container {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;

            img {
                margin: 16px 15px;
            }

            .navList {
                width: 100%;
                gap: 0;
                flex-wrap: wrap;

                li {
                    width: 50%;
                    border: 1px solid #ffffff;
                    text-align: center;
                }
            }
        }
    }

    .footer {
        .container {
            padding-left: 14px;
            padding-right: 14px;

            .telephone {
                .bi-telephone {
                    font-size: 18px;
                }

                .telText {
                    font-size: 16px;
                }
            }

            .envelope {
                .bi-envelope {
                    font-size: 16px;
                }

                .envelopeText {
                    font-size: 16px;
                }
            }

            .footer-bottom {
                flex-direction: column;

                .navBottom {
                    flex-direction: column;
                    gap: 8px;
                }
            }
        }
    }
}